::selection {
  background-color: rgb(198, 68, 68);
  color: #fff;
}

body {
  font-family: "Red Hat Display", sans-serif;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 2px;
  font-family: "EB Garamond", serif;
  color: #1d1d1dd9;
}

.sideBar {
  height: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sections-nav {
  position: relative;
  height: 100%;
  background-color: #1d1d1ded;
}

.sideBar .openBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
  background-color: #1d1d1ded;
  cursor: pointer;
  gap: 0.625rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sideBar .closeBtn {
  position: absolute;
  right: 20px;
  top: 30px;
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
  transition: color 200ms ease-in-out;
}

.sideBar a {
  text-decoration: none;
  color: #fff;
  font-size: 1.375rem;
  margin-top: 20px;
  transition: color 200ms ease-in-out;
}

.sideBar a:hover,
.sideBar i:hover {
  color: rgb(198, 68, 68);
}

.home {
  height: 100vh;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  color: white;
  font-size: 3.5rem;
  text-shadow: 2px 4px 2px rgb(0 0 0 / 81%);
  font-family: "Satisfy", cursive;
}

.speakers {
  max-width: 600px;
  margin: auto;
}

.speakers h2 {
  background-color: #1d1d1dd9;
  color: #fff;
  cursor: pointer;
}

.speakers p {
  background-color: #eeeeee6e;
}

.countdown {
  background-image: url(../images/background.jpg);
  background-size: cover;
}

.contact .title h2 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #1d1d1dd9;
  margin-bottom: 16px;
}

.contact .form-control:focus {
  border-color: #eeeeee6e;
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.2);
}

.contact textarea {
  min-height: 100px;
  max-height: 250px;
}

.contact #chars {
  color: green;
  font-weight: bold;
}

.social-media span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #1d1d1dd9;
  background-color: #1d1d1dd9;
  cursor: pointer;
  transition: background-color 200ms linear;
}

.social-media a {
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
}

.social-media span:hover {
  background-color: #fff;
}

.social-media span:hover a {
  color: #1d1d1dd9;
}

footer {
  background-image: url(../images/background.jpg);
  color: #ffffff71;
}

@media screen and (max-width: 650px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 420px) {
  :root {
    font-size: 12px;
  }

  .sideBar {
    display: none;
  }

  .social-media {
    flex-wrap: wrap;
  }
}